@{
    ViewBag.Title = "Home";
    var loggedIn = false;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Backend server</title>
    <style>
        body, table {
            font-family: Calibri, Arial, Verdana, sans-serif;
            font-size: 10pt;
            background-color: white;
        }

        td, th {
            vertical-align: top;
            text-align: left;
        }

        th {
            background: #ddd;
        }

        a:link {
            background-color: silver;
            color: navy;
            font-weight: bold;
        }

        a:hover {
            background-color: orange;
        }
    </style>
</head>
<body>
    <div>
        Test
    </div>
</body>
</html>
